body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    background-color: #ADD8E6;
}
h1{
    font-size: 100px;
    margin-top: 5px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
#quiz-container{
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    background-color: #3498db;
    color: white;
}
#question-container{
    font-size: 30px;
    margin-bottom: 20px;
}
button{
    padding: 15px;
    cursor: pointer;
    border: none;
    border-radius: 8px ;
    font-size: 30px;
}
#next-btn,#submit-btn{
    display: block;
    margin: 15px auto;
}

#next-btn{
    background-color: #2ecc71;
    color: white;
}

#submit-btn{
    background-color: #e74c3c;
    color: white;
}
#next-btn:hover{
    background-color: #27ae60;
}
#submit-btn:hover{
    background-color: #c0392b;
}
.quiz-card{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.option-label{
    box-sizing: border-box;
    width: 50px;
    height: 50px;
    padding: 10px;
    line-height: 35px;
    font-weight: bold;
    color: white;
    font-size: 25px;
    border: 1px solid #ddd;
    border-radius: 50%;
    margin-right: 10px;
}
.quiz-option{
    box-sizing: border-box;
    flex: 1;
    padding: 15px;
    text-align: left;
    background-color: #3498db;
    color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-top: 10px;
    font-size: 25px;
    width: calc(100%-60px);
}
.quiz-option:hover{
    background-color: #2980b9;
}